<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.sys.HouseFileMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.sys.HouseFile">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ARCHIVES_ID" jdbcType="VARCHAR" property="archivesId" />
    <result column="FILE_NO" jdbcType="VARCHAR" property="fileNo" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_ORDER" jdbcType="DECIMAL" property="fileOrder" />
    <result column="CREATE_UNIT_ID" jdbcType="VARCHAR" property="createUnitId" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_CREATE_ID" jdbcType="VARCHAR" property="sysCreateId" />
    <result column="SYS_UPDATE_ID" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="SYS_DELETE_ID" jdbcType="VARCHAR" property="sysDeleteId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ARCHIVES_ID, FILE_NO, FILE_NAME, FILE_ORDER, IS_DELETED, VERSION, SYS_CREATE_TIME, 
    SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID,CREATE_UNIT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GHOUSE_HOUSE_FILE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GHOUSE_HOUSE_FILE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.sys.HouseFile">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_FILE (ID, ARCHIVES_ID, FILE_NO, FILE_NAME,
      FILE_ORDER, IS_DELETED, VERSION, 
      SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, 
      SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID,CREATE_UNIT_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{archivesId,jdbcType=VARCHAR}, #{fileNo,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
      #{fileOrder,jdbcType=DECIMAL}, #{isDeleted,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL}, 
      #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, 
      #{sysCreateId,jdbcType=VARCHAR}, #{sysUpdateId,jdbcType=VARCHAR}, #{sysDeleteId,jdbcType=VARCHAR}, #{createUnitId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.sys.HouseFile">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_FILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="archivesId != null">
        ARCHIVES_ID,
      </if>
      <if test="fileNo != null">
        FILE_NO,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileOrder != null">
        FILE_ORDER,
      </if>
      <if test="createUnitId != null">
        CREATE_UNIT_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID,
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID,
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="archivesId != null">
        #{archivesId,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null">
        #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileOrder != null">
        #{fileOrder,jdbcType=DECIMAL},
      </if>
      <if test="createUnitId != null">
        #{createUnitId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.sys.HouseFile">
    update GHOUSE_HOUSE_FILE
    <set>
      <if test="archivesId != null">
        ARCHIVES_ID = #{archivesId,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null">
        FILE_NO = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileOrder != null">
        FILE_ORDER = #{fileOrder,jdbcType=DECIMAL},
      </if>
      <if test="createUnitId != null">
        CREATE_UNIT_ID = #{createUnitId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.sys.HouseFile">
    update GHOUSE_HOUSE_FILE
    set ARCHIVES_ID = #{archivesId,jdbcType=VARCHAR},
      FILE_NO = #{fileNo,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_ORDER = #{fileOrder,jdbcType=DECIMAL},
      CREATE_UNIT_ID = #{createUnitId,jdbcType=DECIMAL},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectHouseFileListByArchivesId" resultType="com.funi.platform.lshc.vo.HouseFileVo">
    select
      id as ID,
      ARCHIVES_ID as archivesId,
      FILE_NO as fileNo,
      FILE_NAME as fileName,
      FILE_ORDER as fileOrder,
      CREATE_UNIT_ID as createUnitId
    from ghouse_house_file
    where archives_id = #{archivesId} and is_deleted = 0
    <if test="fileName != null and fileName != ''">
      and FILE_NAME like '%' || #{fileName} ||'%'
    </if>
    <if test="authorityList != null and authorityList.size > 0">
      and CREATE_UNIT_ID in
      <foreach collection="authorityList" index="idx" item="authority" open="(" close=")" separator=",">
        #{authority.dm}
      </foreach>
    </if>
    <if test="userId != null and userId != ''">
      and SYS_CREATE_ID=#{userId}
    </if>
    order by SYS_CREATE_TIME desc,SYS_UPDATE_TIME desc
  </select>

  <select id="selectHouseFileList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ghouse_house_file
    where archives_id = #{archivesId} and is_deleted = 0
    <if test="fileName != null and fileName != ''">
      and FILE_NAME = #{fileName}
    </if>
    and id != #{id}
  </select>

  <select id="selectByArchiveId" resultType="com.funi.platform.lshc.dto.ComboboxDto">
    select id as value,file_name as name from ghouse_house_file where archives_id = #{archivesId} and is_deleted = 0
  </select>

  <update id="deleteByArchivesId">
    update ghouse_house_file set is_deleted=1,SYS_DELETE_TIME=(select sysdate  from dual),VERSION=VERSION+1,SYS_DELETE_ID=#{operateUserId}
    where ARCHIVES_ID=#{archivesId}
  </update>
</mapper>