<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.sys.JobAcceptMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.sys.JobAccept">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="service_num" jdbcType="VARCHAR" property="serviceNum" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="status" jdbcType="DECIMAL" property="status" />
    <result column="cur_status" jdbcType="VARCHAR" property="curStatus" />
    <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="DELETED" jdbcType="DECIMAL" property="deleted" />
    <result column="ISVALIDE" jdbcType="VARCHAR" property="isvalide" />
  </resultMap>
  <sql id="Base_Column_List">
    id, service_num, type_name, status, cur_status, accept_time, VERSION,
    CREATE_TIME, CREATE_ID, UPDATE_TIME, UPDATE_ID, DELETED, ISVALIDE
  </sql>

  <insert id="insert" parameterType="com.funi.platform.lshc.entity.sys.JobAccept">
    insert into lshc_job_accept (id, service_num, type_name,
      status, cur_status, accept_time,
      VERSION,CREATE_TIME, CREATE_ID, UPDATE_TIME, UPDATE_ID,
      DELETED, ISVALIDE)
    values (#{id,jdbcType=VARCHAR}, #{serviceNum,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{curStatus,jdbcType=VARCHAR}, #{acceptTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP},
    #{createId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR},
    #{deleted,jdbcType=DECIMAL}, #{isvalide,jdbcType=VARCHAR})
  </insert>

  <update id="modifyCurStatus">
    update lshc_job_accept
        set  cur_status=#{curStatus},update_id=#{updateId},
             update_time=#{updateTime}
    where id=#{id} and deleted=0
  </update>

  <select id="selectByServiceNum"  resultType="com.funi.platform.lshc.dto.JobDto">
      select
        ja.id,ja.type_name as businessName, ja.cur_status as currentConclusion,
        jl.node_name as nodeName
        from lshc_job_accept ja
        left join ghouse_job_log jl on ja.id = jl.job_accept_id
        where ja.lshc_job_log=#{serviceNum}
  </select>

</mapper>