<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.sys.JobLogMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.sys.JobLog">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="job_accept_id" jdbcType="VARCHAR" property="jobAcceptId" />
    <result column="audit_name" jdbcType="VARCHAR" property="auditName" />
    <result column="audit_id" jdbcType="VARCHAR" property="auditId" />
    <result column="audit_result" jdbcType="VARCHAR" property="jobResult" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="job_opinion" jdbcType="VARCHAR" property="jobOpinion" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="DELETED" jdbcType="DECIMAL" property="deleted" />
    <result column="ISVALIDE" jdbcType="VARCHAR" property="isvalide" />

  </resultMap>
  
  <sql id="Base_Column_List">
    id, job_accept_id, audit_name, audit_id, audit_result, node_name, job_opinion, VERSION,
    CREATE_TIME, CREATE_ID, UPDATE_TIME, UPDATE_ID, DELETED, ISVALIDE, unit_name
  </sql>
  
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.sys.JobLog">
    insert into lshc_job_log (id, job_accept_id, audit_name,
      audit_id, audit_result, node_name,
      job_opinion, VERSION,CREATE_TIME, CREATE_ID, UPDATE_TIME, UPDATE_ID,
      DELETED, ISVALIDE,unit_name)
    values (#{id,jdbcType=VARCHAR}, #{jobAcceptId,jdbcType=VARCHAR}, #{auditName,jdbcType=VARCHAR}, 
      #{auditId,jdbcType=VARCHAR}, #{jobResult,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{jobOpinion,jdbcType=VARCHAR}, #{version,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP},
    #{createId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR},
    #{deleted,jdbcType=DECIMAL}, #{isvalide,jdbcType=VARCHAR},#{unitName,jdbcType=VARCHAR})
  </insert>

  <select id="selectByServiceNum" resultType="com.funi.platform.lshc.dto.WorkLogDto">
      select
          audit_name as auditName,node_name as nodeName,job_opinion as jobOpinion,jl.audit_result as conclusion,
          to_char(jl.CREATE_TIME,'yyyy-MM-dd') as createDateStr, jl.unit_name as unitName
          from lshc_job_log jl
          inner join lshc_job_accept ja on jl.job_accept_id = ja.id
      where ja.service_num=#{serviceNum}

  </select>
  
</mapper>