<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.census.FileMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.census.File">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HC_ID" jdbcType="VARCHAR" property="hcId" />
    <result column="RIGHT_NO" jdbcType="VARCHAR" property="rightNo" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="SUBMIT_DATE" jdbcType="TIMESTAMP" property="submitDate" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="DELETED" jdbcType="DECIMAL" property="deleted" />
    <result column="ISVALIDE" jdbcType="VARCHAR" property="isvalide" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HC_ID, RIGHT_NO, FILE_NAME, FILE_SIZE, FILE_TYPE, URL, SUBMIT_DATE, USER_NAME, 
    UNIT_NAME, VERSION, CREATE_TIME, CREATE_ID, UPDATE_TIME, UPDATE_ID, DELETED, ISVALIDE
  </sql>
  <select id="selectFileListByHouseId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from LSHC_FILE
    where HC_ID = #{hcId,jdbcType=VARCHAR}
    AND ISVALIDE = '1'
    AND DELETED = 0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LSHC_FILE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LSHC_FILE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.census.File">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into LSHC_FILE (ID, HC_ID, RIGHT_NO, FILE_NAME,
      FILE_SIZE, FILE_TYPE, URL, 
      SUBMIT_DATE, USER_NAME, UNIT_NAME, 
      VERSION, CREATE_TIME, CREATE_ID, 
      UPDATE_TIME, UPDATE_ID, DELETED, 
      ISVALIDE)
    values (#{id,jdbcType=VARCHAR}, #{hcId,jdbcType=VARCHAR}, #{rightNo,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
      #{fileSize,jdbcType=DECIMAL}, #{fileType,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{submitDate,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{version,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{deleted,jdbcType=DECIMAL}, 
      #{isvalide,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.census.File">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into LSHC_FILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="hcId != null">
        HC_ID,
      </if>
      <if test="rightNo != null">
        RIGHT_NO,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileSize != null">
        FILE_SIZE,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="submitDate != null">
        SUBMIT_DATE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
      <if test="isvalide != null">
        ISVALIDE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hcId != null">
        #{hcId,jdbcType=VARCHAR},
      </if>
      <if test="rightNo != null">
        #{rightNo,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null">
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=DECIMAL},
      </if>
      <if test="isvalide != null">
        #{isvalide,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.census.File">
    update LSHC_FILE
    <set>
      <if test="hcId != null">
        HC_ID = #{hcId,jdbcType=VARCHAR},
      </if>
      <if test="rightNo != null">
        RIGHT_NO = #{rightNo,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="fileType != null">
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null">
        SUBMIT_DATE = #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=DECIMAL},
      </if>
      <if test="isvalide != null">
        ISVALIDE = #{isvalide,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.census.File">
    update LSHC_FILE
    set HC_ID = #{hcId,jdbcType=VARCHAR},
      RIGHT_NO = #{rightNo,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      SUBMIT_DATE = #{submitDate,jdbcType=TIMESTAMP},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      DELETED = #{deleted,jdbcType=DECIMAL},
      ISVALIDE = #{isvalide,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>