<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
<security:filter-security-metadata-source id="securityMetadataSource" use-expressions="true">
    <security:intercept-url pattern="/" access="permitAll()"/>
    <!--<security:intercept-url pattern="**.jsp" access="isAuthenticated()"/>-->
    <security:intercept-url pattern="/**" access="isAuthenticated()"/>
    <security:intercept-url pattern="/**/*.js" access="permitAll()"/>
    <security:intercept-url pattern="/**/*.png" access="permitAll()"/>
    <security:intercept-url pattern="/**/*.css" access="permitAll()"/>
    <security:intercept-url pattern="/**/*.gif" access="permitAll()"/>
    <security:intercept-url pattern="/**/*.jpg" access="permitAll()"/>
</security:filter-security-metadata-source>
</beans>