<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.house.AddrInfoMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.house.AddrInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SERIAL_NO" jdbcType="INTEGER" property="serialNo" />
    <result column="LIVING_AREA_NAME" jdbcType="VARCHAR" property="livingAreaName" />
    <result column="ZONE_ID" jdbcType="VARCHAR" property="zoneId" />
    <result column="ADDRESS_DETAIL" jdbcType="VARCHAR" property="addressDetail" />
    <result column="STREET_NAME" jdbcType="VARCHAR" property="streetName" />
    <result column="STREET_NO" jdbcType="VARCHAR" property="streetNo" />
    <result column="POSITION_X" jdbcType="VARCHAR" property="positionX" />
    <result column="POSITION_Y" jdbcType="VARCHAR" property="positionY" />
    <result column="ADDR_REMARK" jdbcType="VARCHAR" property="addrRemark" />
    <result column="IS_CHANGE" jdbcType="DECIMAL" property="isChange" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_CREATE_ID" jdbcType="VARCHAR" property="sysCreateId" />
    <result column="SYS_UPDATE_ID" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="SYS_DELETE_ID" jdbcType="VARCHAR" property="sysDeleteId" />
    <result column="BIZ_CREATE_ORG_CODE" jdbcType="VARCHAR" property="bizCreateOrgCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SERIAL_NO, LIVING_AREA_NAME, ZONE_ID, ADDRESS_DETAIL, STREET_NAME, STREET_NO,
    POSITION_X, POSITION_Y, ADDR_REMARK, IS_CHANGE, IS_DELETED, VERSION, SYS_CREATE_TIME,
    SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID,BIZ_CREATE_ORG_CODE
  </sql>

  <select id="selectAddressVoList" resultType="com.funi.platform.lshc.vo.AddressVo" parameterType="com.funi.platform.lshc.query.address.AddressQuery">
      SELECT
          t1.id AS id,
          t1.SERIAL_NO AS serialNo,
          t1.BIZ_CREATE_ORG_CODE as bizCreateOrgCode,
          t2.NAME AS regionName,
          t1.LIVING_AREA_NAME AS livingAreaName,
          t1.STREET_NAME AS streetName,
          t1.STREET_NO AS streetNo,
          t1.ADDR_REMARK AS addrRemark,
          t1.POSITION_X AS positionX,
          t1.POSITION_Y AS positionY,
          t1.IS_CHANGE as isChange,
         (select count(h.id) from GHOUSE_HOUSE_INFO h where h.ADDRESS_ID = t1.id) houseNum
      FROM
          GHOUSE_ADDR_INFO t1
          LEFT JOIN A1_D t2 ON t1.ZONE_ID = t2.REGION_CODE
    <where>
      t1.IS_DELETED = 0
      <if test="regionCode != null and regionCode != ''">
          and t1.ZONE_ID=#{regionCode}
      </if>
      <if test="keywords != null and keywords != ''">
          and (t1.LIVING_AREA_NAME like '%' || #{keywords} || '%' or t1.STREET_NAME like '%' || #{keywords} || '%')
      </if>
      <if test="isChange != null">
          and t1.IS_CHANGE=#{isChange}
      </if>
    </where>
    order by
      t1.SYS_CREATE_TIME desc,
      t1.SYS_UPDATE_TIME desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from GHOUSE_ADDR_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GHOUSE_ADDR_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <update id="logicalDelete" parameterType="java.lang.String">
    update GHOUSE_ADDR_INFO set IS_DELETED=1
    where ID = #{id}
  </update>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.house.AddrInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_ADDR_INFO (ID, LIVING_AREA_NAME, ZONE_ID,
    ADDRESS_DETAIL, STREET_NAME, STREET_NO,
    POSITION_X, POSITION_Y, ADDR_REMARK,
    IS_CHANGE, IS_DELETED, VERSION,
    SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME,
    SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID, BIZ_CREATE_ORG_CODE)
    values (#{id,jdbcType=VARCHAR}, #{livingAreaName,jdbcType=VARCHAR}, #{zoneId,jdbcType=VARCHAR},
    #{addressDetail,jdbcType=VARCHAR}, #{streetName,jdbcType=VARCHAR}, #{streetNo,jdbcType=VARCHAR},
    #{positionX,jdbcType=VARCHAR}, #{positionY,jdbcType=VARCHAR}, #{addrRemark,jdbcType=VARCHAR},#{isChange,jdbcType=DECIMAL},
    #{isDeleted,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP},
    #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysCreateId,jdbcType=VARCHAR},
    #{sysUpdateId,jdbcType=VARCHAR}, #{sysDeleteId,jdbcType=VARCHAR}, #{bizCreateOrgCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.house.AddrInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_ADDR_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="livingAreaName != null">
        LIVING_AREA_NAME,
      </if>
      <if test="zoneId != null">
        ZONE_ID,
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL,
      </if>
      <if test="streetName != null">
        STREET_NAME,
      </if>
      <if test="streetNo != null">
        STREET_NO,
      </if>
      <if test="positionX != null">
        POSITION_X,
      </if>
      <if test="positionY != null">
        POSITION_Y,
      </if>
      <if test="addrRemark != null">
        ADDR_REMARK,
      </if>
      <if test="isChange != null">
        IS_CHANGE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID,
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID,
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID,
      </if>
      <if test="bizCreateOrgCode != null">
        BIZ_CREATE_ORG_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="livingAreaName != null">
        #{livingAreaName,jdbcType=VARCHAR},
      </if>
      <if test="zoneId != null">
        #{zoneId,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null">
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="streetNo != null">
        #{streetNo,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="addrRemark != null">
        #{addrRemark,jdbcType=VARCHAR},
      </if>
      <if test="isChange != null">
        IS_CHANGE = #{isChange,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        #{sysDeleteId,jdbcType=VARCHAR},
      </if>
      <if test="bizCreateOrgCode != null">
        #{bizCreateOrgCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.house.AddrInfo">
    update GHOUSE_ADDR_INFO
    <set>
      <if test="serialNo != null">
        SERIAL_NO = #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="livingAreaName != null">
        LIVING_AREA_NAME = #{livingAreaName,jdbcType=VARCHAR},
      </if>
      <if test="zoneId != null">
        ZONE_ID = #{zoneId,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null">
        STREET_NAME = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="streetNo != null">
        STREET_NO = #{streetNo,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        POSITION_X = #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        POSITION_Y = #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="addrRemark != null">
        ADDR_REMARK = #{addrRemark,jdbcType=VARCHAR},
      </if>
      <if test="isChange != null">
        IS_CHANGE = #{isChange,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      </if>
      <if test="bizCreateOrgCode != null">
        BIZ_CREATE_ORG_CODE = #{bizCreateOrgCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.house.AddrInfo">
    update GHOUSE_ADDR_INFO
    set SERIAL_NO = #{serialNo,jdbcType=INTEGER},
      LIVING_AREA_NAME = #{livingAreaName,jdbcType=VARCHAR},
      ZONE_ID = #{zoneId,jdbcType=VARCHAR},
      ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      STREET_NAME = #{streetName,jdbcType=VARCHAR},
      STREET_NO = #{streetNo,jdbcType=VARCHAR},
      POSITION_X = #{positionX,jdbcType=VARCHAR},
      POSITION_Y = #{positionY,jdbcType=VARCHAR},
      ADDR_REMARK = #{addrRemark,jdbcType=VARCHAR},
      IS_CHANGE = #{isChange,jdbcType=DECIMAL},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      BIZ_CREATE_ORG_CODE = #{bizCreateOrgCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="autoComplete" resultType="com.funi.platform.lshc.dto.ComboboxDto">
    select id as value,living_area_name as name
        from  ghouse_addr_info
    where is_deleted=0
    <if test="keyword !=null and keyword != ''">
      and living_area_name like '%'||#{keyword}||'%'
      order by instr(living_area_name,#{keyword}) asc,length(living_area_name) asc
    </if>
  </select>

  <select id="selectAvailableHouseCount" parameterType="com.funi.platform.lshc.entity.house.AddrInfo" resultType="java.lang.Integer">
    SELECT
        count( id )
    FROM
        ghouse_house_info
    WHERE
        IS_DELETED = 0
        AND ADDRESS_ID = #{id}
  </select>
</mapper>