<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.house.HouseLossMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.house.HouseLoss">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HOUSE_ID" jdbcType="VARCHAR" property="houseId" />
    <result column="LOSS_STATUS" jdbcType="CHAR" property="lossStatus" />
    <result column="CANCEL_REASON" jdbcType="VARCHAR" property="cancelReason" />
    <result column="CANCEL_USER_ID" jdbcType="VARCHAR" property="cancelUserId" />
    <result column="FINISH_AMOUNT" jdbcType="DECIMAL" property="finishAmount" />
    <result column="SELLING_PRICE" jdbcType="DECIMAL" property="sellingPrice" />
    <result column="PAY_DATE" jdbcType="CHAR" property="payDate" />
    <result column="REMOVAL_PERMIT_NO" jdbcType="VARCHAR" property="removalPermitNo" />
    <result column="REMOVAL_PROTOCOL_NO" jdbcType="VARCHAR" property="removalProtocolNo" />
    <result column="REMOVAL_DATE" jdbcType="CHAR" property="removalDate" />
    <result column="REMOVAL_PROJECT" jdbcType="VARCHAR" property="removalProject" />
    <result column="REMOVAL_UNIT" jdbcType="VARCHAR" property="removalUnit" />
    <result column="DEMOLISH_AREA" jdbcType="DECIMAL" property="demolishArea" />
    <result column="LOSS_REMARK" jdbcType="VARCHAR" property="lossRemark" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_CREATE_ID" jdbcType="VARCHAR" property="sysCreateId" />
    <result column="SYS_UPDATE_ID" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="SYS_DELETE_ID" jdbcType="VARCHAR" property="sysDeleteId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HOUSE_ID, LOSS_STATUS, CANCEL_REASON, CANCEL_USER_ID, FINISH_AMOUNT, SELLING_PRICE, 
    PAY_DATE, REMOVAL_PERMIT_NO, REMOVAL_PROTOCOL_NO, REMOVAL_DATE, REMOVAL_PROJECT, 
    REMOVAL_UNIT, DEMOLISH_AREA, LOSS_REMARK, IS_DELETED, VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
    SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GHOUSE_HOUSE_LOSS
    where HOUSE_ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GHOUSE_HOUSE_LOSS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.house.HouseLoss">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_LOSS (ID, HOUSE_ID, LOSS_STATUS, CANCEL_REASON,
      CANCEL_USER_ID, FINISH_AMOUNT, SELLING_PRICE, 
      PAY_DATE, REMOVAL_PERMIT_NO, REMOVAL_PROTOCOL_NO, 
      REMOVAL_DATE, REMOVAL_PROJECT, REMOVAL_UNIT, 
      DEMOLISH_AREA, LOSS_REMARK, IS_DELETED, 
      VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
      SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, 
      SYS_DELETE_ID)
    values (#{id,jdbcType=VARCHAR}, #{houseId,jdbcType=VARCHAR}, #{lossStatus,jdbcType=CHAR}, #{cancelReason,jdbcType=VARCHAR},
      #{cancelUserId,jdbcType=VARCHAR}, #{finishAmount,jdbcType=DECIMAL}, #{sellingPrice,jdbcType=DECIMAL}, 
      #{payDate,jdbcType=CHAR}, #{removalPermitNo,jdbcType=VARCHAR}, #{removalProtocolNo,jdbcType=VARCHAR}, 
      #{removalDate,jdbcType=CHAR}, #{removalProject,jdbcType=VARCHAR}, #{removalUnit,jdbcType=VARCHAR}, 
      #{demolishArea,jdbcType=DECIMAL}, #{lossRemark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=DECIMAL}, 
      #{version,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, 
      #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysCreateId,jdbcType=VARCHAR}, #{sysUpdateId,jdbcType=VARCHAR}, 
      #{sysDeleteId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.house.HouseLoss">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_LOSS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="houseId != null">
        HOUSE_ID,
      </if>
      <if test="lossStatus != null">
        LOSS_STATUS,
      </if>
      <if test="cancelReason != null">
        CANCEL_REASON,
      </if>
      <if test="cancelUserId != null">
        CANCEL_USER_ID,
      </if>
      <if test="finishAmount != null">
        FINISH_AMOUNT,
      </if>
      <if test="sellingPrice != null">
        SELLING_PRICE,
      </if>
      <if test="payDate != null">
        PAY_DATE,
      </if>
      <if test="removalPermitNo != null">
        REMOVAL_PERMIT_NO,
      </if>
      <if test="removalProtocolNo != null">
        REMOVAL_PROTOCOL_NO,
      </if>
      <if test="removalDate != null">
        REMOVAL_DATE,
      </if>
      <if test="removalProject != null">
        REMOVAL_PROJECT,
      </if>
      <if test="removalUnit != null">
        REMOVAL_UNIT,
      </if>
      <if test="demolishArea != null">
        DEMOLISH_AREA,
      </if>
      <if test="lossRemark != null">
        LOSS_REMARK,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID,
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID,
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="lossStatus != null">
        #{lossStatus,jdbcType=CHAR},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelUserId != null">
        #{cancelUserId,jdbcType=VARCHAR},
      </if>
      <if test="finishAmount != null">
        #{finishAmount,jdbcType=DECIMAL},
      </if>
      <if test="sellingPrice != null">
        #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=CHAR},
      </if>
      <if test="removalPermitNo != null">
        #{removalPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="removalProtocolNo != null">
        #{removalProtocolNo,jdbcType=VARCHAR},
      </if>
      <if test="removalDate != null">
        #{removalDate,jdbcType=CHAR},
      </if>
      <if test="removalProject != null">
        #{removalProject,jdbcType=VARCHAR},
      </if>
      <if test="removalUnit != null">
        #{removalUnit,jdbcType=VARCHAR},
      </if>
      <if test="demolishArea != null">
        #{demolishArea,jdbcType=DECIMAL},
      </if>
      <if test="lossRemark != null">
        #{lossRemark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.house.HouseLoss">
    update GHOUSE_HOUSE_LOSS
    <set>
      <if test="houseId != null">
        HOUSE_ID = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="lossStatus != null">
        LOSS_STATUS = #{lossStatus,jdbcType=CHAR},
      </if>
      <if test="cancelReason != null">
        CANCEL_REASON = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelUserId != null">
        CANCEL_USER_ID = #{cancelUserId,jdbcType=VARCHAR},
      </if>
      <if test="finishAmount != null">
        FINISH_AMOUNT = #{finishAmount,jdbcType=DECIMAL},
      </if>
      <if test="sellingPrice != null">
        SELLING_PRICE = #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null">
        PAY_DATE = #{payDate,jdbcType=CHAR},
      </if>
      <if test="removalPermitNo != null">
        REMOVAL_PERMIT_NO = #{removalPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="removalProtocolNo != null">
        REMOVAL_PROTOCOL_NO = #{removalProtocolNo,jdbcType=VARCHAR},
      </if>
      <if test="removalDate != null">
        REMOVAL_DATE = #{removalDate,jdbcType=CHAR},
      </if>
      <if test="removalProject != null">
        REMOVAL_PROJECT = #{removalProject,jdbcType=VARCHAR},
      </if>
      <if test="removalUnit != null">
        REMOVAL_UNIT = #{removalUnit,jdbcType=VARCHAR},
      </if>
      <if test="demolishArea != null">
        DEMOLISH_AREA = #{demolishArea,jdbcType=DECIMAL},
      </if>
      <if test="lossRemark != null">
        LOSS_REMARK = #{lossRemark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.house.HouseLoss">
    update GHOUSE_HOUSE_LOSS
    set HOUSE_ID = #{houseId,jdbcType=VARCHAR},
      LOSS_STATUS = #{lossStatus,jdbcType=CHAR},
      CANCEL_REASON = #{cancelReason,jdbcType=VARCHAR},
      CANCEL_USER_ID = #{cancelUserId,jdbcType=VARCHAR},
      FINISH_AMOUNT = #{finishAmount,jdbcType=DECIMAL},
      SELLING_PRICE = #{sellingPrice,jdbcType=DECIMAL},
      PAY_DATE = #{payDate,jdbcType=CHAR},
      REMOVAL_PERMIT_NO = #{removalPermitNo,jdbcType=VARCHAR},
      REMOVAL_PROTOCOL_NO = #{removalProtocolNo,jdbcType=VARCHAR},
      REMOVAL_DATE = #{removalDate,jdbcType=CHAR},
      REMOVAL_PROJECT = #{removalProject,jdbcType=VARCHAR},
      REMOVAL_UNIT = #{removalUnit,jdbcType=VARCHAR},
      DEMOLISH_AREA = #{demolishArea,jdbcType=DECIMAL},
      LOSS_REMARK = #{lossRemark,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>