<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.house.HouseAddrChangeMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.house.HouseAddrChange">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HOUSE_ID" jdbcType="VARCHAR" property="houseId" />
    <result column="ADDRESS_CHANGE_ID" jdbcType="VARCHAR" property="addressChangeId" />
    <result column="BEFORE_ADDRESS" jdbcType="VARCHAR" property="beforeAddress" />
    <result column="AFTER_ADDRESS" jdbcType="VARCHAR" property="afterAddress" />
    <result column="CHANGE_USER" jdbcType="VARCHAR" property="changeUser" />
    <result column="CHANGE_DATE" jdbcType="CHAR" property="changeDate" />
    <result column="ZONE_ID" jdbcType="CHAR" property="zoneId" />
    <result column="POLICE_STATION" jdbcType="VARCHAR" property="policeStation" />
    <result column="CHANGE_REMARK" jdbcType="VARCHAR" property="changeRemark" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_CREATE_ID" jdbcType="VARCHAR" property="sysCreateId" />
    <result column="SYS_UPDATE_ID" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="SYS_DELETE_ID" jdbcType="VARCHAR" property="sysDeleteId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HOUSE_ID, ADDRESS_CHANGE_ID, BEFORE_ADDRESS, AFTER_ADDRESS, CHANGE_USER, CHANGE_DATE,
    ZONE_ID, POLICE_STATION, CHANGE_REMARK, IS_DELETED, VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
    SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GHOUSE_HOUSE_ADDR_CHANGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GHOUSE_HOUSE_ADDR_CHANGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.house.HouseAddrChange">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_ADDR_CHANGE (ID, HOUSE_ID, ADDRESS_CHANGE_ID, BEFORE_ADDRESS,
      AFTER_ADDRESS, CHANGE_USER, CHANGE_DATE,
      ZONE_ID, POLICE_STATION, CHANGE_REMARK, 
      IS_DELETED, VERSION, SYS_CREATE_TIME, 
      SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_CREATE_ID, 
      SYS_UPDATE_ID, SYS_DELETE_ID)
    values (#{id,jdbcType=VARCHAR}, #{houseId,jdbcType=VARCHAR}, #{addressChangeId,jdbcType=VARCHAR}, #{beforeAddress,jdbcType=VARCHAR},
      #{afterAddress,jdbcType=VARCHAR}, #{changeUser,jdbcType=VARCHAR}, #{changeDate,jdbcType=CHAR},
      #{zoneId,jdbcType=CHAR}, #{policeStation,jdbcType=VARCHAR}, #{changeRemark,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP},
      #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysCreateId,jdbcType=VARCHAR},
      #{sysUpdateId,jdbcType=VARCHAR}, #{sysDeleteId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.house.HouseAddrChange">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_ADDR_CHANGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="houseId != null">
        HOUSE_ID,
      </if>
      <if test="addressChangeId != null">
        ADDRESS_CHANGE_ID,
      </if>
      <if test="beforeAddress != null">
        BEFORE_ADDRESS,
      </if>
      <if test="afterAddress != null">
        AFTER_ADDRESS,
      </if>
      <if test="changeUser != null">
        CHANGE_USER,
      </if>
      <if test="changeDate != null">
        CHANGE_DATE,
      </if>
      <if test="zoneId != null">
        ZONE_ID,
      </if>
      <if test="policeStation != null">
        POLICE_STATION,
      </if>
      <if test="changeRemark != null">
        CHANGE_REMARK,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID,
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID,
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="addressChangeId != null">
        #{addressChangeId,jdbcType=VARCHAR},
      </if>
      <if test="beforeAddress != null">
        #{beforeAddress,jdbcType=VARCHAR},
      </if>
      <if test="afterAddress != null">
        #{afterAddress,jdbcType=VARCHAR},
      </if>
      <if test="changeUser != null">
        #{changeUser,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null">
        #{changeDate,jdbcType=CHAR},
      </if>
      <if test="zoneId != null">
        #{zoneId,jdbcType=CHAR},
      </if>
      <if test="policeStation != null">
        #{policeStation,jdbcType=VARCHAR},
      </if>
      <if test="changeRemark != null">
        #{changeRemark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.house.HouseAddrChange">
    update GHOUSE_HOUSE_ADDR_CHANGE
    <set>
      <if test="houseId != null">
        HOUSE_ID = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="addressChangeId != null">
        ADDRESS_CHANGE_ID = #{addressChangeId,jdbcType=VARCHAR},
      </if>
      <if test="beforeAddress != null">
        BEFORE_ADDRESS = #{beforeAddress,jdbcType=VARCHAR},
      </if>
      <if test="afterAddress != null">
        AFTER_ADDRESS = #{afterAddress,jdbcType=VARCHAR},
      </if>
      <if test="changeUser != null">
        CHANGE_USER = #{changeUser,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null">
        CHANGE_DATE = #{changeDate,jdbcType=CHAR},
      </if>
      <if test="zoneId != null">
        ZONE_ID = #{zoneId,jdbcType=CHAR},
      </if>
      <if test="policeStation != null">
        POLICE_STATION = #{policeStation,jdbcType=VARCHAR},
      </if>
      <if test="changeRemark != null">
        CHANGE_REMARK = #{changeRemark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.house.HouseAddrChange">
    update GHOUSE_HOUSE_ADDR_CHANGE
    set HOUSE_ID = #{houseId,jdbcType=VARCHAR},
      ADDRESS_CHANGE_ID = #{addressChangeId,jdbcType=VARCHAR},
      BEFORE_ADDRESS = #{beforeAddress,jdbcType=VARCHAR},
      AFTER_ADDRESS = #{afterAddress,jdbcType=VARCHAR},
      CHANGE_USER = #{changeUser,jdbcType=VARCHAR},
      CHANGE_DATE = #{changeDate,jdbcType=CHAR},
      ZONE_ID = #{zoneId,jdbcType=CHAR},
      POLICE_STATION = #{policeStation,jdbcType=VARCHAR},
      CHANGE_REMARK = #{changeRemark,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>