<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.house.HouseTransferMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.house.HouseTransfer">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HOUSE_ID" jdbcType="VARCHAR" property="houseId" />
    <result column="ACCEPT_UNIT" jdbcType="VARCHAR" property="acceptUnit" />
    <result column="ACCEPT_REMARK" jdbcType="VARCHAR" property="acceptRemark" />
    <result column="TRANSFER_USER_ID" jdbcType="VARCHAR" property="transferUserId" />
    <result column="TRANSFER_DATE" jdbcType="CHAR" property="transferDate" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_CREATE_ID" jdbcType="VARCHAR" property="sysCreateId" />
    <result column="SYS_UPDATE_ID" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="SYS_DELETE_ID" jdbcType="VARCHAR" property="sysDeleteId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HOUSE_ID, ACCEPT_UNIT, ACCEPT_REMARK, TRANSFER_USER_ID, TRANSFER_DATE, IS_DELETED, 
    VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, 
    SYS_DELETE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GHOUSE_HOUSE_TRANSFER
    where HOUSE_ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GHOUSE_HOUSE_TRANSFER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.house.HouseTransfer">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_TRANSFER (ID, HOUSE_ID, ACCEPT_UNIT, ACCEPT_REMARK,
      TRANSFER_USER_ID, TRANSFER_DATE, IS_DELETED, 
      VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
      SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, 
      SYS_DELETE_ID)
    values (#{id,jdbcType=VARCHAR}, #{houseId,jdbcType=VARCHAR}, #{acceptUnit,jdbcType=VARCHAR}, #{acceptRemark,jdbcType=VARCHAR},
      #{transferUserId,jdbcType=VARCHAR}, #{transferDate,jdbcType=CHAR}, #{isDeleted,jdbcType=DECIMAL}, 
      #{version,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, 
      #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysCreateId,jdbcType=VARCHAR}, #{sysUpdateId,jdbcType=VARCHAR}, 
      #{sysDeleteId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.house.HouseTransfer">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_HOUSE_TRANSFER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="houseId != null">
        HOUSE_ID,
      </if>
      <if test="acceptUnit != null">
        ACCEPT_UNIT,
      </if>
      <if test="acceptRemark != null">
        ACCEPT_REMARK,
      </if>
      <if test="transferUserId != null">
        TRANSFER_USER_ID,
      </if>
      <if test="transferDate != null">
        TRANSFER_DATE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID,
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID,
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnit != null">
        #{acceptUnit,jdbcType=VARCHAR},
      </if>
      <if test="acceptRemark != null">
        #{acceptRemark,jdbcType=VARCHAR},
      </if>
      <if test="transferUserId != null">
        #{transferUserId,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null">
        #{transferDate,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.house.HouseTransfer">
    update GHOUSE_HOUSE_TRANSFER
    <set>
      <if test="houseId != null">
        HOUSE_ID = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnit != null">
        ACCEPT_UNIT = #{acceptUnit,jdbcType=VARCHAR},
      </if>
      <if test="acceptRemark != null">
        ACCEPT_REMARK = #{acceptRemark,jdbcType=VARCHAR},
      </if>
      <if test="transferUserId != null">
        TRANSFER_USER_ID = #{transferUserId,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null">
        TRANSFER_DATE = #{transferDate,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.house.HouseTransfer">
    update GHOUSE_HOUSE_TRANSFER
    set HOUSE_ID = #{houseId,jdbcType=VARCHAR},
      ACCEPT_UNIT = #{acceptUnit,jdbcType=VARCHAR},
      ACCEPT_REMARK = #{acceptRemark,jdbcType=VARCHAR},
      TRANSFER_USER_ID = #{transferUserId,jdbcType=VARCHAR},
      TRANSFER_DATE = #{transferDate,jdbcType=CHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>