<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.platform.lshc.mapper.house.RegionMapper">
  <resultMap id="BaseResultMap" type="com.funi.platform.lshc.entity.house.Region">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="REGION_CODE" jdbcType="VARCHAR" property="regionCode" />
    <result column="REGION_NAME" jdbcType="VARCHAR" property="regionName" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_CREATE_ID" jdbcType="VARCHAR" property="sysCreateId" />
    <result column="SYS_UPDATE_ID" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="SYS_DELETE_ID" jdbcType="VARCHAR" property="sysDeleteId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REGION_CODE, REGION_NAME, IS_DELETED, VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME,
    SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, SYS_DELETE_ID
  </sql>

  <select id="selectRegionVoList" resultType="com.funi.platform.lshc.dto.ComboboxDto">
       select NAME as name,REGION_CODE as value from A1_D where ISONLINE=1
  </select>
  <select id="selectRegionVoById" resultType="com.funi.platform.lshc.vo.RegionVo">
       select NAME as name,REGION_CODE as value from A1_D where REGION_CODE=#{regionCode}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GHOUSE_REGION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GHOUSE_REGION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.platform.lshc.entity.house.Region">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_REGION (ID, REGION_CODE, REGION_NAME, IS_DELETED,
      VERSION, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
      SYS_DELETE_TIME, SYS_CREATE_ID, SYS_UPDATE_ID, 
      SYS_DELETE_ID)
    values (#{id,jdbcType=VARCHAR}, #{regionCode,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, #{isDeleted,jdbcType=DECIMAL},
      #{version,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, 
      #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysCreateId,jdbcType=VARCHAR}, #{sysUpdateId,jdbcType=VARCHAR}, 
      #{sysDeleteId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funi.platform.lshc.entity.house.Region">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT sys_guid() FROM DUAL
    </selectKey>
    insert into GHOUSE_REGION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="regionCode != null">
        REGION_CODE,
      </if>
      <if test="regionName != null">
        REGION_NAME,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID,
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID,
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="regionCode != null">
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.platform.lshc.entity.house.Region">
    update GHOUSE_REGION
    <set>
      <if test="regionCode != null">
        REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateId != null">
        SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateId != null">
        SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteId != null">
        SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.platform.lshc.entity.house.Region">
    update GHOUSE_REGION
    set REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      REGION_NAME = #{regionName,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_CREATE_ID = #{sysCreateId,jdbcType=VARCHAR},
      SYS_UPDATE_ID = #{sysUpdateId,jdbcType=VARCHAR},
      SYS_DELETE_ID = #{sysDeleteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>